<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="/css/common.css" >
  </head>

    <%- include('../partials/index') %>

    <div class="slide">
        <button class="prev" type="button" style="width:30px;height:60px">&#10094;</button>
        <ul>
            <li><img src="https://ifh.cc/g/3Vbx4F.jpg'" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://ifh.cc/g/nKsSZg.jpg" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://ifh.cc/g/ea72wR.jpg" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://ifh.cc/g/s6R9GI.jpg" width="600px"
                     height= "340px" alt="" /></li>
            <li><img src="https://ifh.cc/g/D0xyHH.jpg" width="600px"
                     height= "340px" alt="" /></li>
        </ul>
        <button class="next" type="button" style="width:30px;height:60px">&#10095;</button>
    </div>

  </body>
</html>
